<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body
    class="overflow-hidden h-screen flex flex-col justify-center bg-[url('/images/bgpark.png')] bg-cover bg-no-repeat">
    <header th:replace="~{fragments/header :: headerImports}"></header>
    <main class="mx-auto my-auto mt-40 p-8 bg-white bg-opacity-80 rounded-lg shadow-lg max-w-4xl">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Novo Admin</h1>
        <form th:action="@{/admin/cadastro-admin}" th:object="${usuario}" method="post" enctype="multipart/form-data"
            class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="space-y-4">
                <div>
                    <label for="nome" class="block text-gray-700">Nome:</label>
                    <input type="text"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{nome}" id="nome" placeholder="Nome">
                </div>
                <div>
                    <label for="username" class="block text-gray-700">Username:</label>
                    <input type="text"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{username}" id="username" placeholder="Username">
                </div>
                <div>
                    <label for="senha" class="block text-gray-700">Senha:</label>
                    <input type="password"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{senha}" id="senha" placeholder="Senha">
                </div>
                <div>
                    <label for="genero" class="block text-gray-700">Gênero:</label>
                    <select name="genero" id="genero" th:field="*{genero}"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500">
                        <option value="" selected>Gênero</option>
                        <option th:each="genero : ${generos}" th:value="${genero}" th:text="${genero}"></option>
                    </select>
                </div>
                <div>
                    <label for="telefone" class="block text-gray-700">Telefone:</label>
                    <input type="tel"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{telefone}" id="telefone" placeholder="Telefone" maxlength="11">
                </div>
            </div>
            <div class="space-y-4">
                <div>
                    <label for="cpf" class="block text-gray-700">CPF:</label>
                    <input type="text"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{cpf}" id="cpf" placeholder="CPF" oninput="formatCPF(this)"
                        maxlength="11">
                </div>
                <div>
                    <label for="dataNascimento" class="block text-gray-700">Data de Nascimento:</label>
                    <input type="date"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{dataNascimento}" id="dataNascimento">
                </div>
                <div>
                    <label for="email" class="block text-gray-700">Email:</label>
                    <input type="email"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off" th:field="*{email}" id="email" placeholder="Email">
                </div>
                <div>
                    <label for="imagem" class="block text-gray-700">Imagem:</label>
                    <input name="file" id="imagem" type="file"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-teal-500"
                        autocomplete="off">
                </div>
                <div class="flex justify-between">
                    <a href="/home/index.html"
                        class="bg-red-500 text-white px-6 py-2 rounded-md font-bold hover:bg-red-600 focus:outline-none focus:bg-red-600">Voltar</a>
                    <button
                        class="bg-teal-500 text-white px-6 py-2 rounded-md font-bold hover:bg-teal-600 focus:outline-none focus:bg-teal-600"
                        type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/footer :: footerImports}"></footer>
</body>

</html>