<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body>
    <header>
        <nav class=" absolute flex items-center justify-between h-20 w-full p-5 bg-greenlight shadow-sm">
            <div>
                <a th:href="@{/home}"><img class="w-48 mx-24" src="/images/Logo.png" /></a>
            </div>
            <ul class="flex justify-between items-center space-x-5 mr-24">
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/home}">Início</a>
                </li>
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/login/login}">Entrar</a>
                </li>
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/cuidador/cadastro}">Cadastre-se</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container mx-auto space-y-12">
        <h1 class="text-2xl font-bold mb-5">Lista de Cuidadores</h1>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2">Nome</th>
                    <th class="py-2">Formação</th>
                    <th class="py-2">Telefone</th>
                    <th class="py-2">Idade</th>
                    <th class="py-2">Gênero</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cuidador : ${cuidadores}">
                    <td class="border px-4 py-2" th:text="${cuidador.nome}"></td>
                    <td class="border px-4 py-2" th:text="${cuidador.formacao}"></td>
                    <td class="border px-4 py-2" th:text="${cuidador.telefone}"></td>
                    <td class="border px-4 py-2" th:text="${cuidador.idade}"></td>
                    <td class="border px-4 py-2" th:text="${cuidador.genero}"></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>