<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body class="overflow-hidden h-screen flex flex-col bg-gray-100">

    <header th:replace="~{fragments/header :: headerImports}" class="absolute top-0 left-0 w-full"></header>
    <div class="flex flex-grow overflow-hidden pt-20">
        <nav th:replace="~{fragments/navbar :: navImports}"></nav>
        <main class="container mx-auto space-y-12 flex-grow p-6 overflow-y-auto">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white rounded-lg shadow-lg">
                    <thead>
                        <tr class="bg-teal-500 bg-opacity-50 text-white">
                            <th class="py-3 px-4 text-left">Imagem</th>
                            <th class="py-3 px-4 text-left">Nome</th>
                            <th class="py-3 px-4 text-left">Telefone</th>
                            <th class="py-3 px-4 text-left">Idade</th>
                            <th class="py-3 px-4 text-left">Gênero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${clientes}" class="border-b hover:bg-gray-100">
                            <td class="border px-4 py-2">
                                <img src="/images/imagem-uploads/ImagemPerfilUser.png" alt="Imagem do Cliente"
                                    class="w-16 h-16 rounded-full object-cover">
                            </td>
                            <td class="border px-4 py-2" th:text="${cliente.nome}"></td>
                            <td class="border px-4 py-2" th:text="${cliente.telefone}"></td>
                            <td class="border px-4 py-2" th:text="${cliente.idade}"></td>
                            <td class="border px-4 py-2" th:text="${cliente.genero}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragments/footer :: footerImports}" class="absolute bottom-0 left-0 w-full"></footer>

</body>

</html>