<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body class="overflow-hidden h-screen flex flex-col">

    <header th:replace="~{fragments/header :: headerImports}"></header>
    <div class="flex flex-grow overflow-hidden">
        <nav th:replace="~{fragments/navbar :: navImports}"></nav>
        <main class="container mx-auto space-y-12 flex-grow">
            <h1 class="text-2xl font-bold mb-5">Lista de Cuidadores</h1>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2">Nome</th>
                        <th class="py-2">Formação</th>
                        <th class="py-2">Telefone</th>
                        <th class="py-2">Idade</th>
                        <th class="py-2">Gênero</th>
                        <th class="py-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cuidador : ${cuidadores}">
                        <td class="border px-4 py-2" th:text="${cuidador.nome}"></td>
                        <td class="border px-4 py-2" th:text="${cuidador.formacao}"></td>
                        <td class="border px-4 py-2" th:text="${cuidador.telefone}"></td>
                        <td class="border px-4 py-2" th:text="${cuidador.idade}"></td>
                        <td class="border px-4 py-2" th:text="${cuidador.genero}"></td>
                        <td class="border px-4 py-2">
                            <a th:href="@{/cuidador/editar/{id}(id=${cuidador.id})}" class="text-orange-500">Editar</a>
                            <a th:href="@{/cuidador/excluir/{id}(id=${cuidador.id})}" class="text-red-500">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
    <footer th:replace="~{fragments/footer :: footerImports}">
    </footer>
</body>


</html>