<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body>
    <header th:replace="~{fragments/header :: headerImports}"></header>
    <main class="container mx-auto pt-10">
        <h1>Cadastro de Endereço</h1>
        <form th:action="@{/cuidador/cadastro-endereco}" method="post">
            <input type="hidden" th:value="${cuidadorId}" name="cuidadorId">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" maxlength="8" onblur="buscarCEP()" required><br>

            <label for="uf">UF:</label>
            <input type="text" id="uf" name="uf" required><br>

            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" required><br>

            <label for="localidade">Localidade:</label>
            <input type="text" id="localidade" name="localidade" required><br>

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" required><br>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
    <footer th:replace="~{fragments/footer :: footerImports}"></footer>

    <!-- Função para Buscar CEP -->
    <script>
        function buscarCEP() {
            const cep = document.getElementById('cep').value;
            console.log("CEP digitado:", cep); // Log do CEP digitado
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Dados retornados:", data); // Log dos dados retornados
                        if (!data.erro) {
                            document.getElementById('uf').value = data.uf;
                            document.getElementById('estado').value = data.localidade;
                            document.getElementById('localidade').value = data.localidade;
                            document.getElementById('bairro').value = data.bairro;
                        } else {
                            alert("CEP não encontrado.");
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao buscar o CEP:", error);
                        alert("Erro ao buscar o CEP.");
                    });
            }
        }
    </script>
</body>

</html>