<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body>
    <header>
        <nav class="relative flex items-center justify-between w-full p-5 bg-greenlight shadow-sm">
            <div>
                <a th:href="@{/home}"><img class="w-48 mx-24" src="/images/Logo.png" /></a>
            </div>
            <ul class="flex justify-between items-center space-x-5 mr-24">
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/home}">Início</a>
                </li>
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/login/login}">Entrar</a>
                </li>
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/cuidador/cadastro}">Cadastre-se</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container mx-auto pt-10 ">
        <h1>Cadastro de Endereço</h1>
        <form th:action="@{/cuidador/cadastro-endereco}" method="post">
            <input type="hidden" th:value="${cuidadorId}" name="cuidadorId">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" maxlength="8" onblur="buscarCEP()" required><br>

            <label for="uf">UF:</label>
            <input type="text" id="uf" name="uf" required><br>

            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" required><br>

            <label for="localidade">Localidade:</label>
            <input type="text" id="localidade" name="localidade" required><br>

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" required><br>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
</body>

</html>