<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body class="flex flex-col min-h-screen">

    <header th:replace="~{fragments/header :: headerImports}"></header>
    <main class="mx-auto my-auto">
        <h1>Cadastro de Endereço</h1>
        <form th:action="@{/cuidador/cadastro-endereco}" method="post">
            <input type="hidden" th:value="${cuidadorId}" name="cuidadorId">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" maxlength="8" onblur="buscarCEP()" required><br>

            <label for="uf">UF:</label>
            <input type="text" id="uf" name="uf" required><br>

            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" required><br>

            <label for="localidade">Localidade:</label>
            <input type="text" id="localidade" name="localidade" required><br>

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" required><br>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
    <footer class="flex-shrink-0" th:replace="~{fragments/footer :: footerImports}"></footer>

    <!-- Função para Buscar CEP -->
    <script th:replace="~{fragments/script-buscacep :: buscaCepImports}"></script>
</body>

</html>