<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <title>Cadastro de Endereço</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        redlight: '#E55959',
                        greenlight: '#7FCDCD',
                        graylight: '#E7E7E7',
                        graytext: '#D9D9D9',
                        redbackground: '#EED0D0',
                        orangetext: '#C25500'
                    }
                }
            }
        }
    </script>
    <script>
        function buscarCEP() {
            const cep = document.getElementById('cep').value;
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById('uf').value = data.uf;
                            document.getElementById('estado').value = data.uf; // Ajuste aqui
                            document.getElementById('localidade').value = data.localidade;
                            document.getElementById('bairro').value = data.bairro;
                        } else {
                            alert('CEP não encontrado!');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao buscar o CEP:', error);
                        alert('Erro ao buscar o CEP!');
                    });
            } else {
                alert('CEP inválido!');
            }
        }
    </script>
</head>


<body>
    <header>
        <nav class="absolute flex items-center justify-between h-20 w-full p-5 bg-greenlight shadow-sm">
            <div>
                <a th:href="@{/home}"><img class="w-48 mx-24" src="/images/Logo.png" /></a>
            </div>
            <ul class="flex justify-between items-center space-x-5 mr-24">
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/home}">Início</a>
                </li>
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/login/login}">Entrar</a>
                </li>
                <li class="text-black font-bold text-lg">
                    <a th:href="@{/admin/cadastro}">Cadastre-se</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Cadastro de Endereço</h1>
    <form th:action="@{/admin/cadastro-endereco}" method="post">
        <input type="hidden" th:value="${adminId}" name="adminId">
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" maxlength="8" onblur="buscarCEP()" required><br>

        <label for="uf">UF:</label>
        <input type="text" id="uf" name="uf" required><br>

        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" required><br>

        <label for="localidade">Localidade:</label>
        <input type="text" id="localidade" name="localidade" required><br>

        <label for="bairro">Bairro:</label>
        <input type="text" id="bairro" name="bairro" required><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>