<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body class="overflow-hidden h-screen flex-col flex justify-center bg-[url('/images/fundoCadastro.png')]">

    <header th:replace="~{fragments/header :: headerImports}"></header>
    <main class="mx-auto my-auto">
        <p class="space-y-2 font-bold">Abertura de Chamado</p>
        <form method="post" enctype="multipart/form-data" class="grid">
            <div class="space-y-2">
                <label for="nome" class="input input-bordered flex items-center gap-2 custom-label">
                    <input type="text" class="grow" autocomplete="off" id="nome" placeholder="Titulo chamado">
                </label>
                <!-- <label for="genero" class="flex items-center gap-2 custom-label">
                    <select name="genero" id="genero" class="select select-bordered w-full custom-select">
                        <option value="" selected>Gênero</option>
                        <option></option>
                    </select>
                </label> -->
                <div class="flex justify-center space-x-4 mt-8">
                    <button class="bg-greenlight px-6 py-2 rounded-md text-black font-bold"
                        type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/footer :: footerImports}"></footer>
</body>

</html>